/nbproject/private/
/build/
/dist/
build.xml
manifest.mf
/nbproject/
.DS_Store
/.DS_Store/
/ToDoList-Project/nbproject/
/ToDoListProject/nbproject/private/
/ToDoList-Project/nbproject/private/
/ToDoList-Project/dist/
/ToDoList-Project/build/
